{% capture video_id %}{{ include.show.video | remove: "https://www.youtube.com/watch?v=" | remove: "https://youtu.be/" }}{% endcapture %}
<div class="row">
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>
    <div class="col">
        <h3>{{ include.show.title }}</a></h2>
        <p>{{ include.show.content }}</p>
        <p><a href="https://youtu.be/{{ video_id }}">Watch</a></p>
    </div>
</div>